<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Spinnaker&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Silent Connect - Sign Language Learning</title>
  <link rel="stylesheet" href="static/css/style.css"> 
</head>
<body>
  <header class="intro">
    <img src="static/images/SIGN1.png" alt="Logo" class="header-logo">
    <h1 class="main-title">
        <span class="silent">SILENT</span><br>
        <span class="connect">CONNECT</span>
      </h1>
    <p class="intro-text">Your gateway to learning and mastering sign language with ease! Our app is designed to make sign language accessible, interactive, and fun for everyone.</p>
  </header>

  <section class="learn">
    <h2 class="learn-title">LEARN</h2>
    <p>Explore and learn the basics of sign language with curated video lessons. Each video is designed to guide you step-by-step in mastering essential signs.</p>
    <button onclick="window.location.href='/learning'"> Start Learning</button>
  </section>

  <section class="practice">
    <h2 class="practice-title">PRACTICE</h2>
    <p>Put your sign language skills to the test! Use your camera to practice signs, and get real-time feedback to improve accuracy.</p>
    <button onclick="window.location.href='/practice'">Start Practicing</button> 
  </section>

<section class="testing">
    <h2 class="testing-title">TEST YOURSELF</h2>
    <p>Put your knowledge to the test! Show signs prompted by the app, and get scored based on how accurately you perform them. Challenge yourself and track your improvement as you learn.</p>
    <button onclick="window.location.href='/testing'">Start Assessment</button> 
  </section>

  <footer>
    <p>GOJO COMEBACK 2025!!!</p>
  </footer>
</body>
</html>
